
html{
    padding-top: 0px;
    padding-bottom: 40px;
    width: auto;
    height: 100%;
    position: center;

    background-image: url("harpendenO.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: sans-serif;
}

.main{
    
    text-align: center;
    padding: 200px;
    
}


.fixed-header {
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: #333;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
}

.fixed-footer{
    width: 100%;
    position: fixed;
    padding: 10px 10px;
    background-color: #333;
    overflow: hidden;
    text-align: left;
    bottom: 0;
    left: 0;
    color: white;
}


/*
.topbar {
    background-color: #333;
    overflow: hidden;
    height: 40px;
    padding-top: 20px;
    padding-left: 25px;
    justify-content: center;
    align-items: center;
    
    
}
*/


h1 {
    font: 400 30px/1 'Lobster Two', Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}